html{
    scroll-behavior: smooth;
}

body {
  background-color: #44aec3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 50px;
  font-family: 'Lucida Handwriting';
  line-height: 1;
  text-align: center;
  width: 55%;
}

h3{
  font-size: 28px;
  text-shadow: black;
  line-height: 1.5;
  padding-top: 15px;
  text-align: center;
  font-weight: bold;
  background-color: #7ce1ed;
  border-top: grey solid 2px;
  border-left: grey solid 2px;
  border-right: grey solid 2px;
  margin: 15px 15px 0px 15px;
}

h4{
  font-size: 55px;
  font-weight: bold;
  font-family: 'Lucida Handwriting';
  line-height: 1;
  text-align: center;
  padding: 75px 0px;
  width: 100%;
  color: #35d3be;
}

.grid h3{
  font-weight: none;
  padding-top: 0px;
  margin: 0px 0px;
}

p{
  padding: 0px 15px 15px 15px;
  line-height: 1.5;
  background-color: #7ce1ed;
  border-bottom: grey solid 2px;
  border-left: grey solid 2px;
  border-right: grey solid 2px;
  margin: 0px 15px 15px 15px;
  text-align: center;
}

.grid p{
  margin: 0px 0px;
}

nav ul{
  list-style-type: none;
}

nav li{
  /* display: flex;
  flex-direction: column; */
  padding: 5px 5px 5px 5px;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(255, 255, 255, 0.822); */
  margin: 1px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav{
  background-color: rgb(182, 175, 175);
  padding: 25px 0;
  text-align: center;
}

nav a:focus{
  text-decoration: underline;
}

nav #current{
  background-color: #7ce1ed;
  border: black 1px solid;
}

#current a{
  /* color: white; */
  font-weight: bold;
  text-decoration: underline;
}

header {
  border: grey outset 5px;
  /* border-radius: 30px; */
}

header h1{
  color: black;
  font-size: 50px;
  font-family: 'Lucida Handwriting';
  padding: 10px 0px 0px 0px;
  text-align: center;
  width: 100%;
  background-color: #49e0c3;
  font-weight: bold;
  /* border-top-left-radius: 28px;
  border-top-right-radius: 28px; */
}

header h2{
  color: black;
  font-size: 20px;
  font-family: 'Lucida Handwriting';
  padding: 10px 0px;
  text-align: center;
  width: 100%;
  background-color: #49e0c3;
  /* border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px; */
}

footer{
  background-color: black;
  color: white;
  padding: 10px 0px;
  text-align: center;
}

nav a{
  color: black;
  font-weight: normal;
  text-decoration: none;
  top: 40px;
}

nav a:hover{
  text-decoration: underline;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -40px;
}

.skip a:focus{
  top: 5px;
}

*:focus{
  border: 2px solid black;
}

.grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto auto;
  row-gap: 15px;
  column-gap: 5px;
  padding: 0px 15px;
}

.concept-image{
  grid-column: 1 / -1;
  grid-row: 3 / span 1;
  max-height: 700px;
  overflow: hidden;
  border: black 2px solid;
  border-radius: 10px;
}

.concept{
  grid-column: 1 / -1;
  grid-row: 2 / span 1;
}

.nurse-image{
  grid-column: 1 / -1;
  grid-row: 5 / span 1;
  max-height: 700px;
  overflow: hidden;
  border: black 2px solid;
  border-radius: 10px;
}

.nurse{
  grid-column: 1 / -1;
  grid-row: 4 / span 1;
}

.patients-image{
  grid-column: 1 / -1;
  grid-row: 7 / span 1;
  max-height: 700px;
  overflow: hidden;
  border: black 2px solid;
  border-radius: 10px;
}

.patients{
  grid-column: 1 / -1;
  grid-row: 6 / span 1;
}

.physicians{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.physicians > img {
  border: solid 2px black;
  margin: 10px;
  width: 400px;
}

.physicians > img:hover {
  border: white solid 3px;
}

.text-block{
  background-color: rgba(227, 231, 238, 0.753);
  border: 5px solid black;
  border-radius: 5px;
  padding: 10px;
  align-self: center;
}

/* .about.text-block{
  font-family: cursive;
  border: none;
  color: black;
  background-color: inherit;
  text-align: center;
  align-self: center;
} */

input[type=text], select, textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 15px;
  resize: vertical;
}

input[type=submit], input[type=button]{
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: solid black 2px;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover, input[type=button]:hover{
  background-color: rgb(182, 175, 175);
}

.controls{
  margin: 0px 15px 15px 15px;
  line-height: 2;
}

.contact/*, .rate*/ {
  display: block;
  border-radius: 5px;
  padding: 10px;
  border: solid black 2px;
  background-color: #7ce1ed;
}

.rate{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
  row-gap: 15px;
  /* column-gap: 5px; */
  padding: 15px 15px;
  /* border-radius: 5px;
  border: solid black 2px; */
  /* background-color: #7ce1ed; */
  width: 60%;
  /* justify-items: center;
  align-items: center; */
  margin: auto;
}

.dr-arate, .dr-brate, .dr-crate, .dr-drate, .dr-erate, .dr-frate, .dr-grate, .dr-hrate, .dr-irate, .dr-jrate, .dr-krate, .dr-lrate{
  /* background-color: #7ce1ed; */
  background-color:rgb(195, 250, 250);
  border: black solid 2px;
  text-align: center;
  padding: 15px 15px;
  line-height: 1.5;
  
}

/* div.contact-photos {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  margin: auto;
  align-items: center;
  row-gap: 10px;
} */

.contact-photos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  row-gap: 15px;
  justify-content: center;
  align-items: center;
  margin: 25px 0px;
}

.contact-photos > img {
  margin: 10px 0px;
  width: 85%;
  justify-self: center;
}

#stethoscope-image{
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  align-items: center;
}

.thank-you-image{
  grid-column: 1 / -1;
  grid-row: 2 / span 1;
}

.blocks-image{
  grid-column: 1 / -1;
  grid-row: 3 / span 1;
}

/* code modified from  https://codepen.io/yemon/pen/pWoROm */

#flip {
  height: 50px;
  overflow: hidden;
}

#flip > div > div {
  color:black;
  font-weight: bold;
  padding:4px 12px;
  height:50px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 7s linear 1;
}

#flip div div {
  color: black;
}
#flip div:first-child div {
  color: black;
}
#flip div:last-child div {
  color:black;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

/* img#hallwaynurses {
  display: none;
} */

img#instruments {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

/* build modifed from https://www.w3schools.com/howto/howto_css_flip_card.asp */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid black;
  perspective: 1000px;
  justify-self: center;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner,
.flip-card:focus-within .flip-card-inner,
.flip-card:active .flip-card-inner,
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  text-align: center;
  background-color: black;
  /* color: white; */
  transform: rotateY(180deg);
} 

.control{
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-weight: bold; */
  padding: 5px 5px;
  background-color: #ced3cd;
  border: black solid 2px;
}

footer p{
  background-color: black;
  margin: 0px;
}

@media screen and (min-width: 1024px){
  nav{
    padding: 30px 0;
    text-align: center;
  }

  .grid{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    row-gap: 25px;
    justify-content: center;
    align-items: center;
    margin: 25px 0px;
  }

  nav li{
    /* display: flex;
    flex-direction: column; */
    width: 10%;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    background-color: white;
    margin: 5px;
  }

  ul {
    flex-direction: row;
    justify-content: flex-end;
  }

  .concept-image{
    grid-column: 2 / span 3;
    grid-row: 2 / span 1;
    /* max-height: 100%;
    overflow:hidden; */
    max-height: 500px;
    overflow: hidden;
  }

  .concept{
    grid-column: 1 / span 5;
    grid-row: 1 / span 1;
  }

  .nurse-image{
    grid-column: 4 / span 2;
    grid-row: 3 / span 1;
  }

  .nurse{
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
  }

  .patients-image{
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
  }

  .patients{
    grid-column: 3 / span 3;
    grid-row: 4 / span 1;
  }

  h3{
    margin: 15px 25px 0px 25px;
    background-color: lightcyan;
    border-top: black solid 5px;
    border-left: black solid 5px;
    border-right: black solid 5px;
  }

  p{
    margin: 0px 25px 0px 25px;
    background-color: lightcyan;
    font-size: 18px;
    text-align: center;
    border-bottom: black solid 5px;
    border-left: black solid 5px;
    border-right: black solid 5px;
  }

  .grid h3, .grid p{
    background-color: lightcyan;
    margin: 0px 0px;
    border: none;
    border-radius: 0px;
  }

  footer p{
    background-color: black;
    margin: 0px;
  }

  div.contact{
    margin: 25px 75px;
  }

  .parallax {
    background-attachment: fixed; 
    background-position: center;
    background-size: cover;
    max-width: 100%;
    max-height: 350px;
    background-image: url("../images/instrument_background.jpeg");
    background-repeat: no-repeat;
  }

  img#instruments {
    visibility: hidden;
  }

  .parallax2 {
    background-attachment: fixed; 
    background-position: center;
    background-size: cover;
    max-width: 100%;
    max-height: 400px;
    background-image: url("../images/background.jpeg");
    background-repeat: no-repeat;
    top: 100px;
  }

  img#hallwaynurses {
    visibility: hidden;
  }

  #watercolor {
    background-image: url("../images/watercolor_new.jpeg");
    background-color: #35d3be;
    height: 1000px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }

  /* div.contact-photos {
    flex-direction: row;
    justify-content: space-evenly;
  } */

  .contact-photos {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: auto;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
  }
  
  .contact-photos > img {
    margin: 10px 0px;
    width: 100%;
  }
  
  #stethoscope-image{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    align-items: center;
  }
  
  .thank-you-image{
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
  
  .blocks-image{
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
  }

  div.flip-card {
    justify-items: center;
    align-items: center;
  }

  .controls {
    margin: 10px 25px;
    padding: 5px;
  }

  .rate {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    column-gap: 15px;
    width: 80%;
    margin: auto;
  }

}

@media screen and (min-width: 1200px){
  body{
    background-color: #29b5c8;
  }

  .grid{
    grid-template-columns: 1fr 1fr 1fr auto 1fr 1fr 1fr;
    grid-template-rows: auto auto auto 400px;
    row-gap: 25px;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
    margin: 25px 0px;
  }

  .concept-image{
    grid-column: 2 / span 5;
    grid-row: 2 / span 1;
    max-height: 1000px;
    max-width: 800px;
    overflow:hidden;
    max-height: 500px;
    overflow: hidden;
    justify-self: center;
  }

  .concept{
    grid-column: 2 / span 5;
    grid-row: 1 / span 1;
  }

  .nurse-image{
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
    max-height: 385px;
  }

  .nurse{
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
  }

  .patients-image{
    grid-column: 5 / span 3;
    grid-row: 4 / span 1;
    max-height: 385px;
  }

  .patients{
    grid-column: 5 / span 3;
    grid-row: 3 / span 1;
  }

  h3{
    margin: 20px 100px 0px 100px;
  }

  p{
    margin: 0px 100px 20px 100px;
  }

  div.contact{
    margin: 25px 300px;
  }

  .rate {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    column-gap: 15px;
    width: 80%;
    margin: auto;
  }

  .controls{
    margin: 10px 95px;
  }
}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto;
  }

  .skip a{
    -webkit-transition: initial;
    transition: initial;
  }

  #flip div:first-child {
    animation: none;
  }

  .parallax, .parallax2{
    background-attachment: initial;
  }

  .flip-card-back, .flip-card-inner{
    transition: none;
  }
}
